header{
	text-align: center;
	color: orange;
	background-color: green;
	font-size: 30px;
	padding-top: 20px;
}
nav{
	text-align: center;
	background-color: red;
	padding-top: 30px;
	margin: auto;
	margin-top: -41px;
	margin-bottom: 20px;
	width: 50%;
}
nav > span{
	background-color: white;
	color: black;
	
	border-style: dashed;
	border-color: black;
}
nav > span:hover{
	background-color: #3399ff;
}

nav > span > a:link{
	text-decoration: none;
	color: black;
}
nav > span > a:visited{
	text-decoration: none;
	color: black;
}
article{
	padding:10px;
	background-color: white;
	margin:auto;
	width: 55%;
}
body{
	background-color: #b3b3b3;
}